<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="热血德州">
    <meta name="keywords" content="热血德州">
	<meta name="applicable-device" content="pc">
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta name="format-detection" content="telephone=no">
    <title>热血德州</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/uploadify.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body class="iframebody">
	<div class="picSettingCnt clearfix box-sizing">
		<div class="clearfix">
			<div class="picSettingCntLeft box-sizing">
				<div class="s-top clearfix">
					<span>推荐头像</span>
					<div class="uploadPic_btn_cover box-sizing">本地上传<input  id="upload-file" name="avatar" class="uploadPic_btn box-sizing" type="file" type="file" /></div>
				</div>
				<div class="s-bottom box-sizing">
					<ul class="clearfix">
						<li class="choseAvatar"><img src="images/pic/p6.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p8.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p9.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p10.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
						<li class="choseAvatar"><img src="images/pic/p7.jpg" alt="头像名" /></li>
					</ul>
				</div>
			</div>
			<div class="picSettingCntRight box-sizing">
				<div class="title">预览</div>
				<div class="imageBox">
			        <div class="thumbBox" title="滚动鼠标滚轮控制缩放"></div>
			        <div class="spinner" style="display: none">Loading...</div>
					<img class="bigpic" id="avatar_preview1"  src="images/pic/p7.jpg" alt="头像名" />
			    </div>
				<span class="tt">140*140</span>
				<div class="smallpicBox box-sizing">
					<img id="avatar_preview2" src="images/pic/p7.jpg" alt="头像名" class="smallpic" />
				</div>
				<span class="tt">70*70</span>
                <input type="hidden" id="avatar_old" name="avatar_old" value="images/pic/p7.jpg" />
                <input type="hidden" id="avatar_now" name="avatar_now" value="images/pic/p7.jpg" />
                <input type="hidden" id="avatar_up" name="avatar_up" value="" />

			</div>
		</div>
		<div class="picSettingCntBottom">
			<a id="btnCrop" href="javascript:;" class="sure_btn">确定</a>
			<a href="javascript:;" class="cancel_btn">取消</a>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/layer/layer.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
	<script src="js/datetimepicker.js"></script>
	<script src="js/cropbox.js"></script>
	<script src="js/main.js"></script>
</body>
</html>