<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="热血德州">
    <meta name="keywords" content="热血德州">
	<meta name="applicable-device" content="pc">
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta name="format-detection" content="telephone=no">
    <title>热血德州</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/uploadify.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body class="iframebody f_diamondC">
	<div class="picSettingCnt clearfix f_diamondC">
		<div class="f_diamond">
			<div class="item clearfix">
				<label>用户名：</label>
				<span>18758336833</span>
			</div>
			<div class="item clearfix">
				<label>选项：</label>
				<input class="diamondSet" name="diamondSet" type="radio" value="increase" checked="checked" />
				<span>增加</span>
				<input class="diamondSet" name="diamondSet" type="radio" value="decrease" />
				<span>扣除</span>
			</div>
			<div class="item clearfix">
				<label>钻石：</label>
				<input type="text" class="nickname" />
			</div>
			<div class="item clearfix">
				<label>说明：</label>
				<textarea class="autograph"></textarea>
			</div>
			<div class="item clearfix">
				<input class="save_btn" type="submit" value="确定" />
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/layer/layer.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
	<script src="js/datetimepicker.js"></script>
	<script src="js/cropbox.js"></script>
	<script src="js/main.js"></script>
</body>
</html>